@using StoreApp.Entity
@model IEnumerable<Product>


@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section id="content">

    <section id="shop" class="container">

        <div class="row">

            <!-- sidebar start -->
            <div id="sidebar" class="col-md-3">

                <!--TODO: Burada ne Serch PartialView koyularak arama sağlanacak.-->
           
                @Html.Partial("Search")

                <!--TODO: Buraya Gelecek Category Menu PartialView-->

                @Html.Action("CategoryMenu","Category")
                @Html.Action("FeaturedProductList","Product")

                <!--TODO: Buraya Featured Ürünler Actionu Gelecek-->
                


            </div>
            <!-- sidebar end -->
            <!-- right column start -->
            <div class="col-md-9">

                <div class="row">

                    <div class="col-md-12 wow fadeIn">
                        <div class="row product-results">
                            <div class="product-results">
                                <div class="col-xs-8">
                                    <p class="woocommerce-result-count">Showing 1–12 of 25 results</p>
                                </div>

                                <div class="col-xs-4 text-right">
                                    <form method="get" class="woocommerce-ordering">
                                        <select class="form-control" name="orderby">
                                            <option selected="selected" value="menu_order">Default sorting</option>
                                            <option value="popularity">Sort by popularity</option>
                                            <option value="rating">Sort by rating</option>
                                            <option value="date">Newest on top</option>
                                            <option value="price">Price: low to high</option>
                                            <option value="price-desc">Price: high to low</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    @foreach (var product in Model)
                    {
                        <div class="col-md-4 wow fadeInUp">
                            <div class="text-center product-item">
                                <div class="product-item-top">
                                    <img alt="" class="img-responsive" src="~/images/tn/@product.Image">
                                    <div class="mask"></div>
                                    <ul class="list-unstyled list-inline">
                                        <li><a href="/Home/Details/@product.Id"><i class="fa fa-link fa-fw"></i></a></li>
                                        <li><a href="#"><i class="fa fa-cart-plus fa-fw"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-item-inner">
                                    <h3 class="product-title"><a href="#">@product.Name</a></h3>
                                    <p class="product-price">@product.Price ₺</p>
                                </div>
                            </div>
                        </div>
                    }











                    <div class="col-md-12 wow fadeIn">
                        <div id="pagination" class="row text-center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="disabled">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="disabled"><a href="#">...</a></li>
                                    <li><a href="#">20</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>

            </div>
            <!-- right column end -->

        </div>



    </section>



</section>

